@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

/*Header*/

nav {
    background-color: black;
    padding: 5px;
    display: flex;
}

nav a {
    color: red
}

nav a:hover{
    color: azure;
    
}
.menu {
    display:flex;
    align-items: center;
    list-style: none;
    margin-right: 100px;
}

.menu a {
    text-decoration: none;
}

.logo-image {
    background-image: url(assets/images/the-activation-foundation-website-favicon-white.png);
    width: 50px;
    height: 50px;
    padding: 5px;
    justify-content: space-around;
}


/*section*/


/*Footer*/