@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: grey;
}

/*Header*/

nav {
    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    text-align: center;
}

nav a {
    color: red
}

nav a:hover{
    color: azure;
    
}
.menu {
    display:flex;
    align-items: center;
    list-style: none;
}

.menu a {
    text-decoration: none;
}

.logo-image {
    background-image: url(assets/images/the-activation-foundation-website-favicon-white.png);
    width: 100px;
    height: 100px;
    padding: 5px;
    justify-content: space-around;
}


/*section*/

#mainimage {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    background: black;
}

.mainimage {
    
    background: url("assets/images/coverpicture.jpg");
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    background-blend-mode: multiply;
    height: 600px;
}

/*Footer*/