@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: grey;
}

/*Header*/

nav {
    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    text-align: center;
}

nav a {
    color: red
}

nav a:hover{
    color: azure;
    
}
.menu {
    display:flex;
    align-items: center;
    list-style: none;
}

.menu a {
    text-decoration: none;
}

.logo-image {
    background-image: url(assets/images/the-activation-foundation-website-favicon-white.png);
    width: 100px;
    height: 100px;
    padding: 5px;
    justify-content: space-around;
}


/*section*/

#mainimage {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    background: black;
}

.mainimage {
    
    background: url("assets/images/coverpicture.jpg");
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    background-blend-mode: multiply;
    height: 600px;
    width: 100%;
}

.imagcont {
    background: black;
    color: azure;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

#img1 {
    width: 400px;
    
    margin: auto;
   
    padding: 10px;
    border-radius: 200px;
}
#img2 {
    width: 400px;
    
    margin: auto;
   
    padding: 10px;
    border-radius: 200px;
}
#img3 {
    width: 400px;
    
    margin: auto;
    
    padding: 10px;
    border-radius: 200px;
}

.fa-solid {
    padding: 5px;
}

#section2 {
    display: flex;
    
}

.imagcont {
    width: 100%;
    justify-content: center;
}

/*Footer*/
footer {
    background: rgb(127, 187, 140);
    color:white;
    padding: 20px;
    display: flex;

}

footer div {
    width: 100%;
}
.some a {
    font-size: 200%;
    color:blue;
    padding: 30px;
    }
    
    .some, .coninfo h1,h2 {
        color: black;
    }